.nav-menu{
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 50px;
  padding: 0 30px;
  background-color: #EDEFEE;
}
a{
  text-decoration: none;
  color: black;
}
.nav-el{
  flex-basis: 14vw;
  min-width: 14vw;
  min-height: 100%;
}
li{
  flex-basis: 14vw;
  min-width: 14vw;
  min-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
ul{
  list-style: none;
  padding: 0;
  margin: 0;
}
li a {
  text-decoration: none;
  width: 100%;
  height: 100%;
  text-align: center;
}
.nav-menu li:first-child{
  background-image: url(../icons_assets/Logo.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
}
.herosection{
  min-height: 600px;
  width: 100%;
  background-color: #FDDABB;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  justify-content: center;
  align-items: center;
}
.hero-left{
  display: flex;
  flex-direction: column;
}
.hero-left h1, h2{
  padding-left: 50px;
}
.hero-left h1{
  font-size: 50px;
}
.hero-left h2{
  font-size: 30px;
}
.reserv-btn{
  text-decoration: none;
  margin-top: 120px;
  align-self: center;
  padding: 20px 30px;
  border-radius: 5px;
  background-color: #333333;
  color: #FDDABB;
}
.hero-right{
  width: 90%;
  height: 90%;
  background-image: url(../icons_assets/restauranfood.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
.specialssection{
  min-height: 650px;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.specialsup{
  height: 150px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 100px;
}
.specialsup h1{
  font-size: 50px;
}
.specialsup a{
  text-decoration: none;
  padding: 20px 30px;
  border-radius: 5px;
  background-color: #333333;
  color: #FDDABB;
}
.specialsdown{
  flex-grow: 1;
  display: flex;
}
.highlitscard{
  max-width: 30%;
  max-height: 90%;
  margin: 30px;
  padding: 20px;
  border: #FDDABB 1px solid;
  border-radius: 10px;
}
.card-image{
  width: 100%;
  height: 50%;
}
.card-nameprice{
  display: flex;
  justify-content: space-between;
}
.card-name{}
.card-price{}
.card-discr{}
.customerssay{
  width: 100%;
  height: 600px;
  background-color: #F4CE14;
}
.customerssay{
  display: flex;
  justify-content: space-around;
}
.revcard{
  width: 20%;
  height: 70%;
  margin: 50px;
  padding: 10px;
  border: #FDDABB 1px solid;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.stars{}
.fotoname{
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.fotorevcard{
  height: 150px;
  width: 150px;
}
.namerevcard{}
.review{}

.chicago{
  background-color: #FDDABB;
  height: 600px;
  display: flex;
  justify-content: space-around;
}
.chicago h1,p{
  margin: 0;
}
.chicagiLeft{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 40%;
}
.chicagiRight{
  width: 50%;
  position: relative;
}
.imageOne{
  width: 320px;
  height: 380px;
  position: absolute;
  top: 10%;
  left: 20%;
}
.imageTwo{
  width: 320px;
  height: 380px;
  position: absolute;
  top: 30%;
  left: 40%;
}
footer{
  height: 400px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;
  background-color: #EDEFEE;
}
.footerLogo{
  width: 150px;
  height: 200px;
}
.reservPage{
  height: calc(100vh - 450px);
  min-height: 650px;
  background-color: #FDDABB;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

